<div class="panel panel-default module">
  <div class="panel-heading">
    <a href="#"><b>About Me</b></a>
  </div>
  <div class="panel-paragraphs">
    <p>My name is Darren. I am a cool kid.</p>
  </div>
</div>
