<div class="panel panel-default module">
  <div class="panel-heading">
    <b><%= video.title %></b>
    <div id="toggle-star-<%= @video.id %>" class="pull-right">
      <%= toggle_star_button(video) %>
    </div>
  </div>

  <div class="h_iframe">
      <img class="ratio" src="http://placehold.it/16x9" />
      <iframe src="<%= video.youtube_link %>" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video-footer">
    <div class="progress pull-left">
      <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
      </div>
    </div>
    <div class="pull-right"><b>In Translation</b></div>
  </div>
</div>
