<div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <%= image_tag 'avatar.jpg', :class => 'img-circle media-object profile-pic' %>
    </a>
  </div>
  <div class="media-body">
    <p class="media-heading"><%= leader.name %></p>
    <span class="badge"><%= leader.points(after) %> Point</span>
  </div>
</div>
