# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore local asset pipline cache files.
/public/assets

# Ignore keys file.
/config/initializers/keys.rb

# Ignore cloud9 metadata.
.c9/*

# Ignore simplecov output viles
coverage/*

# Ignore application configuration
/config/application.yml
