/* Dashboard modules. */
.module
  border-radius: 15px
  margin-left: 10px
  margin-right: 10px
  .panel-heading
    border-top-left-radius: 15px
    border-top-right-radius: 15px
    a b
      color: #333333
    a:hover
      text-decoration: none
    a:focus
      text-decoration: none
  .panel-padding
    padding-right: 10px
    padding-left: 10px
  .table
    margin-bottom: 10px
  .goals
    list-style-type: none
    padding-left: 15px
    padding-right: 15px
    padding-top: 10px
  ul li:last-child
    border-bottom-left-radius: 15px !important
    border-bottom-right-radius: 15px !important

.module .media
  padding-left: 7px
  padding-right: 7px

.module > .media-body
  width: 100%

.module > .media:last-child
  margin-bottom: 10px

.module > .media-heading
  margin-top: 12px
