/* Dashboard modules. */
.module
  border-radius: 15px
  margin-left: 10px
  margin-right: 10px
  .panel-heading
    border-top-left-radius: 15px
    border-top-right-radius: 15px
    a b
      color: #333333
    a:hover
      text-decoration: none
    a:focus
      text-decoration: none
  .panel-padding
    padding-right: 10px
    padding-left: 10px
  .table
    margin-bottom: 10px
  .goals
    list-style-type: none
    padding-left: 15px
    padding-right: 15px
    padding-top: 10px
  ul li:last-child
    border-bottom-left-radius: 15px !important
    border-bottom-right-radius: 15px !important

.module .media
  padding-left: 7px
  padding-right: 7px

.module > .media-body
  width: 100%

.module > .media:last-child
  margin-bottom: 10px

.module > .media-heading
  margin-top: 12px

.module-images
  padding-right: 15px
  padding-left: 15px
  float: left
  img
    float: left
  .small-image
    width: 20%
  .large-image
    width: 40%
  .video-text, .text
    padding-left: 15px
    padding-right: 15px
    padding-bottom: 30px
  .video-text
    background-color: #000000
    h1, h4
      color: white
  .text
    background-color: #f5f5f5
    h1, h4
      color: black
  .btn
    margin-top: 15px
  .spacer
    float: left
    width: 100%
    height: 20px
  .video
    iframe
      width: 100%
      height: 400px

@media (max-width: 992px)
  .module-images
    .video
      width: 100%
    .video-text, .text
      width: 100%
      padding-top: 10px
    .about-image
      width: 33.3%

@media (min-width: 992px)
  .module-images
    .video
      width: 60%
    .video-text
      width: 40%
      height: 400px
      padding-top: 70px
    .text
      width: 40%
      height: 376px

@media (min-width: 1200px)
  .module-images
    .text
      padding-top: 80px
      height: 456px
