<div class="panel panel-default">
  <div class="panel-heading">
    <b>Videos Listing</b>
  </div>
  <table class="table">
    <tbody>
      <% videos.each do |video| %>
        <%= render 'videos/index/video_row', video: video %>
      <% end %>
    </tbody>
  </table>
</div>
