<div class="panel panel-default module module-videos">
  <div class="panel-heading">
    <b>Videos</b>
  </div>
  <div class="panel-content">
    <%= render 'videos/index/videos_table', :videos => videos %>
  </div>
</div>
