<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Duration</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% videos.each do |video| %>
      <%= render 'videos/index/video_row', video: video %>
    <% end %>
  </tbody>
</table>
