<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Subject</th>
      <th>Duration</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'videos/index/video_row',
      :collection => videos,
      :as => :video,
      :locals => { :star => (defined?(star) and star) }
    %>
  </tbody>
</table>
