<tr>
  <td>
    <div id="toggle-star-<%= video.id %>" class="star-inline">
      <%= toggle_star_button(video) %>
    </div>
    <%= link_to video.title, video %>
  </td>
  <td>Math</td>
  <td><%= seconds_to_string(video.duration) %></td>
  <td>Unassigned</td>
</tr>
