<tr>
  <td>
    <div id="toggle-star-<%= video.id %>" class="star-inline">
      <%= toggle_star_button(video) %>
    </div>
    <%= link_to video.title, video %>
  </td>
  <td><%= video.youtube_link %><td>
</tr>
