<div class="video-filter">
  <%= form_tag videos_path, :method => 'get', :class => 'form-search', :id => 'video-search' do %>
  <%= autocomplete_field_tag :search, nil, autocomplete_tag_name_videos_path, {
    :id => 'search',
    :class => 'form-control',
    :placeholder => 'Search by title or category.',
    :'data-delimiter' => ' ',
    :tabindex => '-1',
  } %>
  <% end %>
</div>

<br />

<div id="video-list">
</div>
