<div class="video-filter">
  <%= form_tag videos_path, :method => 'get', :class => 'form-search', :id => 'video-search' do %>
    <%= autocomplete_field_tag :search, nil, autocomplete_tag_name_videos_path, {
      :id => 'search',
      :class => 'form-control',
      :placeholder => 'Search by category or name.',
      :'data-delimiter' => ' ',
      :tabindex => '-1',
    } %>

    <div id="status-filter" class="status-check-group">
      <% @statuses.each do |status| %>
        <label class="status-check">
          <%= check_box_tag 'statuses[]', status, true %><%= status.titleize %>
        </label>
      <% end %>
    </div>
  <% end %>
</div>

<br />

<div id="video-list" class="module-search-results">
</div>
