<div class="col-md-8 no-padding">
  <div class="panel panel-default module">
    <div class="panel-heading">
      <b>Adding and Subtracting Fractions</b>
      <a class="pull-right" href="#"><i class="fa fa-star"></i></a>
    </div>
    <div class="h_iframe">
        <!-- a transparent image is preferable -->
        <img class="ratio" src="http://placehold.it/16x9"/>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/52ZlXsFJULI" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="video-footer">
      <div class="pull-left"><b>Progress:</b></div>
      <div class="progress pull-left">
        <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
          <span class="sr-only">40% Complete (success)</span>
        </div>
      </div>
      <div class="pull-right"><b>Views: 1,184,424</b></div>
    </div>
  </div>

  <div class="btn-module">
    <a href="#translate" class="btn btn-primary btn-left">Translate</a>
    <a href="#review" class="btn btn-success btn-right">Review</a>
  </div>

  <div id="translate">
    <div class="panel-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active tab-translation"><a href="#amara" class="panel-title panel-title-tabs" aria-controls="home" role="tab" data-toggle="tab">Translate on Amara</a></li>
        <li role="presentation" class="tab-translation"><a href="#srt" class="panel-title panel-title-tabs" aria-controls="srt" role="tab" data-toggle="tab">Translate Offline</a></li>
      </ul>
    </div>
    <div class="panel panel-default module module-padding module-tabs">
      <div role="tabpanel">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active tab-amara" id="amara">
            <b><a href="#">Link to Amara</a></b>
            <div>To earn points, submit your completed Amara link.</div>
            <input type="text" class="amara-form" name="amara-link">
            <button class="btn btn-primary btn-xs">Submit</button>
          </div>
          <div role="tabpanel" class="tab-pane fade tab-srt" id="srt">
            <b><a href="#">Download Most Recent SRT</a></b>
            <div class="form-group">
              <label for="uploadSRT">Upload SRT</label>
              <input type="file" class="filestyle" data-icon="false" id="uploadSRT">
            </div>
            <button class="btn btn-warning btn-xs">Upload</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="review" class="panel panel-default module module-videos">
    <div class="panel-heading">
      <b>Recent Translations</b>
    </div>
    <div class="panel-content">
      <table class="table">
        <thead>
          <tr>
            <th>Author</th>
            <th>Length</th>
            <th>Date Added</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Darren Zhao</a></td>
            <td>1:31</td>
            <td>1/2/14</td>
            <td><button class="btn btn-success btn-xs">Download</button></td>
          </tr>
          <tr>
            <td><a href="#">Edward Whang</a></td>
            <td>3:42</td>
            <td>1/2/13</td>
            <td><button class="btn btn-success btn-xs">Download</button></td>
          </tr>
          <tr>
            <td><a href="#">Edward Whang</a></td>
            <td>2:26</td>
            <td>1/2/12</td>
            <td><button class="btn btn-success btn-xs">Download</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-md-4 no-padding">
  <div class="panel panel-default module">
    <div class="panel-heading">
      <b>Contributors</b>
      <a class="pull-right" href="#"><i class="fa fa-plus-circle"></i></a>
    </div>
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <%= image_tag 'avatar.jpg', :class => 'img-circle media-object profile-pic' %>
        </a>
      </div>
      <div class="media-body">
        <p class="media-heading">Edward Whang</p>
        <span class="badge">Translator</span>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <%= image_tag 'avatar.jpg', :class => 'img-circle media-object profile-pic' %>
        </a>
      </div>
      <div class="media-body">
        <p class="media-heading">Darren Zhao</p>
        <span class="badge">Translator</span>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <%= image_tag 'avatar.jpg', :class => 'img-circle media-object profile-pic' %>
        </a>
      </div>
      <div class="media-body">
        <p class="media-heading">Naseem Alnaji</p>
        <span class="badge success-background">Reviewer</span>
      </div>
    </div>
  </div>

  <div class="panel panel-default module module-videos">
    <div class="panel-heading">
      <b>Similar Videos</b>
    </div>
    <div class="panel-content">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Area of a Shaded Region</a></td>
            <td>1:31</td>
          </tr>
          <tr>
            <td><a href="#">Area of an Equilateral Triangle</a></td>
            <td>3:42</td>
          </tr>
          <tr>
            <td><a href="#">Area of a Sector Given an Angle</a></td>
            <td>2:26</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
