<div class="col-sm-4 no-padding">
  <div class="panel panel-default module module-videos">
    <div class="panel-heading">
      <b>Add Videos</b>
    </div>
    <div class="panel-paragraphs">
      <p><a href="#">Add a single video</a></p>
      <p><a href="#">Import a list of videos</a></p>
    </div>
  </div>
</div>

<div class="col-sm-8 no-padding">
  <div class="panel panel-default module">
    <div class="panel-heading">
      <a href="#"><b>Statistics</b></a>
    </div>
    <ul class="list-group">
      <li class="list-group-item">Members:</li>
      <li class="list-group-item">Untranslated Videos:</li>
      <li class="list-group-item">Translated Videos:</li>
      <li class="list-group-item">Approved Videos:</li>
    </div>
  </div>
</div>
