<div class="col-md-8 no-padding">
  <div class="panel panel-default module module-videos">
    <div class="panel-heading">
      Assigned Videos
      <small><a href="#" class="pull-right">More Videos</a></small>
    </div>
    <div class="panel-padding">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Area of a Shaded Region</a></td>
            <td>Math</td>
            <td>1:31</td>
            <td><a href="#" class="btn btn-warning btn-xs">Submit</a></td>
          </tr>
          <tr>
            <td><a href="#">Area of an Equilateral Triangle</a></td>
            <td>Math</td>
            <td>3:42</td>
            <td><a href="#" class="btn btn-warning btn-xs">Submit</a></td>
          </tr>
          <tr>
            <td><a href="#">Area of a Sector Given an Angle</a></td>
            <td>Math</td>
            <td>2:26</td>
            <td><a href="#" class="btn btn-warning btn-xs">Submit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default module module-videos">
    <div class="panel-heading">
      Recently Translated Videos
      <small><a href="#" class="pull-right">More Videos</a></small>
    </div>
    <div class="panel-padding">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Combining Like Terms 1</a></td>
            <td>Math</td>
            <td>3:23</td>
            <td><a href="#" class="btn btn-success btn-xs">Review</a></td>
          </tr>
          <tr>
            <td><a href="#">Combining Like Terms 2</a></td>
            <td>Math</td>
            <td>2:14</td>
            <td><a href="#" class="btn btn-success btn-xs">Review</a></td>
          </tr>
          <tr>
            <td><a href="#">Comparing Linear Functions 1</a></td>
            <td>Math</td>
            <td>1:09</td>
            <td><a href="#" class="btn btn-success btn-xs">Review</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default module module-videos">
    <div class="panel-heading">
      Top Priority Videos
      <small><a href="#" class="pull-right">More Videos</a></small>
    </div>
    <div class="panel-padding">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="#">Addition Elimination Method</a></td>
            <td>Math</td>
            <td>2:01</td>
            <td><a href="#" class="btn btn-primary btn-xs">Assign</a></td>
          </tr>
          <tr>
            <td><a href="#">Adding in Binary</a></td>
            <td>Math</td>
            <td>1:14</td>
            <td><a href="#" class="btn btn-primary btn-xs">Assign</a></td>
          </tr>
          <tr>
            <td><a href="#">Adding Expressions 1</a></td>
            <td>Math</td>
            <td>1:02</td>
            <td><a href="#" class="btn btn-primary btn-xs">Assign</a></td>
          </tr>
          <tr>
            <td><a href="#">Adding Expressions 2</a></td>
            <td>Math</td>
            <td>1:32</td>            
            <td><a href="#" class="btn btn-primary btn-xs">Select</a></td>
          </tr>
          <tr>
            <td><a href="#">Adding Expressions 3</a></td>
            <td>Math</td>
            <td>1:21</td>
            <td><a href="#" class="btn btn-primary btn-xs">Select</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="col-md-4 no-padding">
  <div class="panel panel-default module">
    <div class="panel-heading">
      Personal Accomplishments
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">14</span>
        Assigned Videos
      </li>
      <li class="list-group-item">
        <span class="badge">23</span>
        Reviewed Videos
      </li>
      <li class="list-group-item">
        <span class="badge">21</span>
        Approved Videos
      </li>
    </ul>
  </div>

  <div class="panel panel-default module">
    <div class="panel-heading">
      Collaborative Weekly Goals
    </div>
      <ul class="goals">
      <li>Number of Translators</li>
      <li>
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
          </div>
        </div>
      </li>
      <li>Total Number of Translated Videos</li>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
            <span class="sr-only">20% Complete</span>
          </div>
        </div>
      </li>
      <li>Total Time Translated</li>
      <li>
        <div class="progress">
          <div class="progress-bar progress-bar-active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            <span class="sr-only">80% Complete (danger)</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="panel panel-default module">
    <div class="panel-heading">
      Rankings
    </div>
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <%= image_tag 'avatar.jpg', :class => 'img-circle media-object profile-pic' %>
        </a>
      </div>
      <div class="media-body">
        <p class="media-heading">Edward Whang</p>
        <span class="badge">31 Videos Translated</span>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <%= image_tag 'avatar.jpg', :class => 'img-circle media-object profile-pic' %>
        </a>
      </div>
      <div class="media-body">
        <p class="media-heading">Darren Zhao</p>
        <span class="badge">25 Videos Translated</span>
      </div>
    </div>
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <%= image_tag 'avatar.jpg', :class => 'img-circle media-object profile-pic' %>
        </a>
      </div>
      <div class="media-body">
        <p class="media-heading">Naseem Alnaji</p>
        <span class="badge">21 Videos Translated</span>
      </div>
    </div>
  </div>
</div>
