<div class="col-sm-4 no-padding">
  <div class="panel panel-default module module-videos">
    <div class="panel-heading">
      <b>Profile</b>
    </div>
    <div class="">
      <%= image_tag 'avatar.jpg', :class => 'img-square', :style => 'width:100%;' %>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <b>Name:</b>
        <div class="pull-right">Darren Zhao</div>
      </li>
      <li class="list-group-item">
        <b>Country:</b>
        <div class="pull-right">United States</div>
      </li>
      <li class="list-group-item">
        <b>City:</b> 
        <div class="pull-right">SF Bay Area</div>
      </li>
      <li class="list-group-item">
        <b>Email:</b>
        <div class="pull-right profile-email">DarryQueen@berkeley.edu</div>
      </li>
    </ul>
  </div>
</div>

<div class="col-sm-8 no-padding">
  <div class="panel panel-default module">
    <div class="panel-heading">
      <a href="#"><b>About Me</b></a>
    </div>
    <div class="panel-paragraphs">
      <p>My name is Darren. I am a cool kid.</p>
    </div>
  </div>

  <div class="" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default module module-videos">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="panel-heading" role="tab" id="headingOne">
          Assigned Videos
          <span class="badge pull-right">5</span>
        </div>
      </a>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-padding">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">Area of a Shaded Region</a></td>
                <td>Math</td>
                <td>1:31</td>
              </tr>
              <tr>
                <td><a href="#">Area of an Equilateral Triangle</a></td>
                <td>Math</td>
                <td>3:42</td>
              </tr>
              <tr>
                <td><a href="#">Area of a Sector Given an Angle</a></td>
                <td>Math</td>
                <td>2:26</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default module module-videos">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <div class="panel-heading" role="tab" id="headingTwo">
            Reviewed Videos
            <span class="badge pull-right">14</span>
        </div>
      </a>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-padding">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">Area of a Shaded Region</a></td>
                <td>Math</td>
                <td>1:31</td>
              </tr>
              <tr>
                <td><a href="#">Area of an Equilateral Triangle</a></td>
                <td>Math</td>
                <td>3:42</td>
              </tr>
              <tr>
                <td><a href="#">Area of a Sector Given an Angle</a></td>
                <td>Math</td>
                <td>2:26</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default module module-videos">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <div class="panel-heading" role="tab" id="headingThree">
          Approved Video
          <span class="badge pull-right">21</span>
        </div>
      </a>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-padding">
          <table class="table">
            <thead>
              <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#">Area of a Shaded Region</a></td>
                <td>Math</td>
                <td>1:31</td>
              </tr>
              <tr>
                <td><a href="#">Area of an Equilateral Triangle</a></td>
                <td>Math</td>
                <td>3:42</td>
              </tr>
              <tr>
                <td><a href="#">Area of a Sector Given an Angle</a></td>
                <td>Math</td>
                <td>2:26</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
