<div class="panel panel-default module">
  <div class="panel-heading">
    <b>Accomplishments</b>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%= assigned %></span>
      Assigned Videos
    </li>
    <li class="list-group-item">
      <span class="badge"><%= translated %></span>
      Translated Videos
    </li>
    <li class="list-group-item">
      <span class="badge"><%= user.points %></span>
      Points
    </li>
  </ul>
</div>
