<div class="panel panel-default module">
  <div class="panel-heading">
    <b><%= link_to 'Leaderboard', leaderboard_users_path %></b>
  </div>

  <%= render :partial => 'home/dashboard/leader_row',
    :collection => leaders,
    :as => :leader,
    :locals => { :after => after }
  %>
</div>
