<div class="panel panel-default module">
  <%= link_to leaderboard_users_path do %>
    <div class="panel-heading">
      <b>Leaderboard</b>
      <i class="fa fa-caret-down pull-right"></i>
    </div>
  <% end %>

  <%= render :partial => 'home/dashboard/leader_row',
    :collection => leaders,
    :as => :leader,
    :locals => { :after => after }
  %>
</div>
