html{
  min-width: 500px;
}

/* Color override for social buttons. */

.btn-social {
  border-color: rgba(0,0,0,0.2);
}

.btn-social:hover, .btn-social:focus {
  color: #fff;
}

.btn-facebook:hover {
  background-color: #3b5998;
}

.btn-google-plus:hover {
  background-color: #dd4b39;
}

.no-padding {
  padding: 0px;
}

/* Nav. */

.img-logo {
  height: 35px;
  width: 35px;
  display: inline-block;
  float: left;
  margin-top: 7px;
  margin-right: 5px;
  margin-left: 5px;
}

.inline-nav {
  display: inline-block;
}

.khan-nav .navbar-brand {
  color: #333333;
  padding-left: 0px;
  margin-left: 0px !important;
}

.khan-nav .navbar-toggle {
  margin-right: 10px;
}

.khan-nav .navbar-header {
  margin-right: 0px;
  margin-left: 0px;
  float: left;
  width: 100%;
}

.khan-nav .navbar-signin {
  float: right;
  position: relative;
  margin-right: 5px;
}

.khan-nav .dropdown-toggle {
  padding-right: 5px;
}

.khan-nav .nav-mini {
  font-weight: bold;
}

.khan-nav .navbar-right {
  margin-right: 0px;
}

@media (max-width: 768px) {
  .khan-nav li a {
    text-align: center;
    color: #333333;
  }
  .khan-nav .dropdown {
    display: none;
  }
}

@media (min-width: 768px) {
  .khan-nav .nav-mini {
    display: none;
  }
  .khan-nav .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/* Links on preview page. */

.preview-links {
  margin-top: 30px;
}

/* Dashboard modules. */

.module {
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.module .panel-heading {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.module .panel-heading a b{
  color: #333333;
}

.module .panel-heading a:hover {
  text-decoration: none;
}
.module .panel-heading a:focus {
  text-decoration: none;
}
.module .panel-padding {
  padding-right: 10px;
  padding-left: 10px;
}

.module .table {
  margin-bottom: 10px;
}

.module .goals {
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.module ul li:last-child {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

/* Videos. */

.module-videos .table>thead>tr>th {
  padding-top: 15px;
  color: #999999;
}

.module-videos .panel-heading {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #333333;
}

.module-videos a:hover, 
.module-videos a:focus {
  text-decoration: none;
}

.module-videos td .row-title {
  text-decoration: none;
  font-weight: bold;
}

.module-videos .btn {
  min-width: 55px;
}

/* Ranking. */

.module .media {
  padding-left: 7px;
  padding-right: 7px;
}

.module > .media-body {
  width: 100%;
}

.module > .media:last-child{
  margin-bottom: 10px;
}

.module > .media-heading {
  margin-top: 12px;
}

.profile-pic {
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

/* Video stars. */

.star-inline {
  display: inline;
}
.star-inline i {
  margin-right: 10px;
}

.fa-star-starred {
  color: #30a7fc;
}

.fa-star-unstarred {
  color: #888;
}
