.panel-title {
  font-weight: bold;
  font-size: 14px;
}

.panel-content {
  padding-left: 10px;
  padding-right: 10px;
}

.panel-title-tabs {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  background-color: #f5f5f5;
}

.panel-tabs {
  margin-left: 10px;
  margin-right: 10px;
}

.panel-tabs .nav-tabs>li:last-child>a {
  margin-right: 0;
}

.module-tabs {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.module-padding {
  padding-left: 15px;
  padding-right: 15px;
}
