form.form-search:before {
  content: "\f002";
  font-family: "FontAwesome";
  display: block;
  width: 0px;
  height: 0px;
  position: relative;
  top: 8px;
  left: 14px;
  opacity: .5;
  z-index: 5000;
}

form.form-search input {
  padding-left: 40px;
}

form.form-search p:before {
  content: '\f002';
  font-family: "FontAwesome";
}

.img-square {
  width: 100%;
}

.rip-edit {
  cursor: pointer;
}
.rip-edit.rip-edit-inline {
  padding-left: 10px;
}

.rest-in-place.rip-bio textarea {
  width: 100%;
}
