form.form-search:before {
  content: "\f002";
  font-family: "FontAwesome";
  display: block;
  width: 0px;
  height: 0px;
  position: relative;
  top: 8px;
  left: 14px;
  opacity: .5;
  z-index: 5000;
}

form.form-search input {
  padding-left: 40px;
}

form.form-search p:before {
  content: '\f002';
  font-family: "FontAwesome";
}
