.img-square
  width: 100%

.rip-edit
  cursor: pointer
  &.rip-edit-inline
    padding-left: 10px
    float: right

.rest-in-place-bio
  width: 100%

.user-field-row
  display: inline-block
  max-width: 150px
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

.profile-email
  text-overflow: ellipsis
  max-width: 200px
  overflow: hidden
  white-space: nowrap

.panel-leaderboard
  padding-bottom: 20px
  padding-top: 20px

.btn-leaderboard
  width: 100%
  margin-bottom: 15px
  padding-left: 10px
  padding-right: 10px

.btn-roles
  width: 100%
  margin-bottom: 20px

.delete
  color: #ff4136
  &:hover, &:focus
    color: #ff4136
