.img-square
  width: 100%

.rip-edit
  cursor: pointer
  &.rip-edit-inline
    padding-left: 10px

.rest-in-place-bio
  width: 100%

.profile-email
  text-overflow: ellipsis
  max-width: 200px
  overflow: hidden
